<html>

<head>
    <title>Ganti Password </title>
    <link rel="stylesheet" href="./../code/css/gantipass.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="./../asset/favicon.png">
</head>

<body>
    <div>
        <center>
            <img src="./../asset/ganti-password/lock 1.png" alt="">
            <h1>Ganti Kata Sandi</h1>
            <p>Masukkan kata sandi baru anda untuk mereset kata sandi sebelumnya</p>
            <br>
            <input id="newpass" type="password" placeholder="New Password">
            <br>
            <input id="repass" type="password" value="" placeholder="Re-enter Password">
            <br>
            <!-- <p class="lupas"> <a href="" style="text-decoration: none;">Lupa Password </a></p> -->
            <a href="">
                <button type="submit">RESET PASSWORD</button>
            </a>
        </center>
    </div>
</body>

</html>