<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="./../code/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="./../asset/favicon.png">
</head>

<body>

    <div>
        <center>
            <img src="./../asset/login/logo-login.png" alt="">
            <p>Login to access Dashboard</p>
            <br>
            <div id="con">
                <input class="email" value="" placeholder="Email">
                <br>
                <input class="password" type="password" value="" placeholder="Password">

                <p class="lupas"> <a href="" style="text-decoration: none; color: #5C5C5C;">Lupa Password </a></p>
            </div>
            <a href="">
                <button type="submit" class="btn">Login</button>
            </a>
        </center>
    </div>


</body>

</html>