<html>

<head>
    <title>Ganti Password</title>
    <link rel="stylesheet" href="./../code/css/nextstep.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="./../asset/favicon.png">
</head>

<body>
    <div>
        <center>
            <img src="./../asset/ganti-password/shield.png" alt="">
            <h1>Setel Ulang Kata Sandi</h1>
            <p>Anda akan segera menerima email yang memungkinkan Anda <br>
                untuk mengatur ulang kata sandi Anda. Harap pastikan
                untuk
                memeriksa spam dan <br>
                sampah jika Anda tidak dapat menemukan email tersebut.</p>
        </center>
    </div>
</body>

</html>