<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Dashboard</title>
    <meta content="" name="descriptison" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="./../asset/favicon.png" rel="icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="./../code/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./../code/vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link href="./../code/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="./../code/vendor/animate.css/animate.min.css" rel="stylesheet" />
    <link href="./../code/vendor/venobox/venobox.css" rel="stylesheet" />
    <link href="./../code/vendor/aos/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="./../code/css/owl.carousel.min.css">
    <link rel="stylesheet" href="./../code/css/owl.theme.default.min.css">

    <!-- Template Main CSS File -->
    <link href="./../code/css/sma.css" rel="stylesheet" />

    <script
      src="https://kit.fontawesome.com/3c72b6bd6b.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-none d-lg-block">
      <div class="clearfix d-flex align-items-center">
        <div class="ml-5 contact-info">
          <img src="./../asset/logo.png" alt="" srcset="" />
          <span class="ml-3 h5 font-weight-bold">Course</span>
        </div>
        <div class="search mx-auto">
          <form action="">
            <div class="sb-example-3">
              <div class="search__container">
                <input class="search__input" type="text" placeholder="Search" />
              </div>
            </div>
          </form>
        </div>
        <div class="button d-flex justify-content-center align-items-center">
          <a href="" class="mr-5">My Course</a>
          <i class="far fa-envelope fa-2x mr-5"></i>
          <div class="dropdown mr-5">
            <img src="./../asset/dashboard/avatar.png" alt="" class="dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">My Course</a>
              <a class="dropdown-item" href="#">Message</a>
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header">
      <div class="container">
        <div class="logo float-left">
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="index.html"
            ><img
              src="./../asset/logo.png"
              alt=""
              class="d-block d-lg-none img-fluid"
          /></a>
        </div>

        <nav class="nav-menu d-none d-lg-flex justify-content-center">
          <ul>
            <li class="mb-4 d-block d-md-none text-center">
              <img src="./../asset/landing-page/logo.png" alt="" srcset="" />
            </li>
            <li class="mb-3 d-block d-md-none">
                <div class="button d-flex">
                    <a href="" class="mr-5">My Course</a>
                    <a href="#" class=" ml-0 mb-0 mt-0"><i class="far fa-envelope fa-2x text-white"></i></a>
                    <div class="dropdown mr-5">
                      <img src="./../asset/dashboard/avatar.png" alt="" class="dropdown-toggle"
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false">
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">My Course</a>
                        <a class="dropdown-item" href="#">Message</a>
                        <a class="dropdown-item" href="#">Log Out</a>
                      </div>
                    </div>
                  </div>
            </li>
            <li class="active">
              <a href="#header">Primary School (SD)</a>
            </li>
            <li class="mr-5"><a href="#about">Junior High School (SMP)</a></li>
            <li class="mr-5">
              <a href="#services">Senior High School (SMA)</a>
            </li>
            <li class="mr-5"><a href="#portfolio">Higher School (PT)</a></li>
            <li class="mr-5"><a href="#team">Other</a></li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <div class="hero-sma">
        <div class="hero-container">
            <h3>Senior High School (SMA)
            </h3>
            <p class="p-0 m-0">Asah kemampuanmu dengan beragam materi.</p>
            </div>
    </div>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= Breadcrumb Section ======= -->
      <div class="main-breadcrumb">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Senior High School</a></li>
              <li class="breadcrumb-item"><a href="#">Lesson</a></li>
              <li class="breadcrumb-item active" aria-current="page">Natural Science</li>
            </ol>
          </nav>
      </div>
      <!-- End Breadcrumb Section -->

      <!-- ======= Recommended Section ======= -->
      <div class="content">
        <div class="row no-gutters">
          <div class="col-md-3">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header first" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h2 class="mb-0 d-flex justify-content-between align-self-center align-items-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="card-name">
                      <img src="./../asset/sma-page/book-4 1.png" alt="" srcset="">
                    <button class="btn btn-link justify-content-start" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      LESSON
                    </button>
                    </div>
                    <img class="btn-toggle" src="./../asset/sma-page/toggle.png" alt="" srcset="">
                  </h2>
                </div>
            
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="accordion-item">
                      <p>Natural Science</p>
                    </div>
                    <div class="accordion-item">
                      <p>Mathematic</p>
                    </div>
                    <div class="accordion-item">
                      <p>English Language</p>
                    </div>
                    <div class="accordion-item">
                      <p>Indonesian Languange</p>
                    </div>
                    <div class="accordion-item">
                      <p>Social Science</p>
                    </div>
                    <div class="accordion-item">
                      <p>Vernacular</p>
                    </div>
                    <div class="accordion-item">
                      <p>Civilization</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header second" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h2 class="mb-0 d-flex justify-content-between align-self-center align-items-center" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <div class="card-name">
                      <img src="./../asset/sma-page/Vector.png" alt="" srcset="">
                    <button class="btn btn-link justify-content-start" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                      RELIGION
                    </button>
                    </div>
                    <img class="btn-toggle" src="./../asset/sma-page/toggle.png" alt="" srcset="">
                  </h2>
                </div>
            
                <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="accordion-item">
                      <p>Natural Science</p>
                    </div>
                    <div class="accordion-item">
                      <p>Mathematic</p>
                    </div>
                    <div class="accordion-item">
                      <p>English Language</p>
                    </div>
                    <div class="accordion-item">
                      <p>Indonesian Languange</p>
                    </div>
                    <div class="accordion-item">
                      <p>Social Science</p>
                    </div>
                    <div class="accordion-item">
                      <p>Vernacular</p>
                    </div>
                    <div class="accordion-item">
                      <p>Civilization</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header third" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h2 class="mb-0 d-flex justify-content-between align-self-center align-items-center" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    <div class="card-name">
                      <img src="./../asset/sma-page/Vector-3.png" alt="" srcset="">
                    <button class="btn btn-link justify-content-start" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                      SOFTSKILLS
                    </button>
                    </div>
                    <img class="btn-toggle" src="./../asset/sma-page/toggle.png" alt="" srcset="">
                  </h2>
                </div>
            
                <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="accordion-item">
                      <p>Natural Science</p>
                    </div>
                    <div class="accordion-item">
                      <p>Mathematic</p>
                    </div>
                    <div class="accordion-item">
                      <p>English Language</p>
                    </div>
                    <div class="accordion-item">
                      <p>Indonesian Languange</p>
                    </div>
                    <div class="accordion-item">
                      <p>Social Science</p>
                    </div>
                    <div class="accordion-item">
                      <p>Vernacular</p>
                    </div>
                    <div class="accordion-item">
                      <p>Civilization</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header fourth" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h2 class="mb-0 d-flex justify-content-between align-self-center align-items-center" data-toggle="collapse" data-target="#collapseFourth" aria-expanded="true" aria-controls="collapseFourth">
                    <div class="card-name">
                      <img src="./../asset/sma-page/Vector-2.png" alt="" srcset="">
                    <button class="btn btn-link justify-content-start" type="button" data-toggle="collapse" data-target="#collapseFourth" aria-expanded="true" aria-controls="collapseFourth">
                      PEDAGOGICS
                    </button>
                    </div>
                    <img class="btn-toggle" src="./../asset/sma-page/toggle.png" alt="" srcset="">
                  </h2>
                </div>
            
                <div id="collapseFourth" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="accordion-item">
                      <p>Natural Science</p>
                    </div>
                    <div class="accordion-item">
                      <p>Mathematic</p>
                    </div>
                    <div class="accordion-item">
                      <p>English Language</p>
                    </div>
                    <div class="accordion-item">
                      <p>Indonesian Languange</p>
                    </div>
                    <div class="accordion-item">
                      <p>Social Science</p>
                    </div>
                    <div class="accordion-item">
                      <p>Vernacular</p>
                    </div>
                    <div class="accordion-item">
                      <p>Civilization</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header fifth" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h2 class="mb-0 d-flex justify-content-between align-self-center align-items-center" data-toggle="collapse" data-target="#collapseFifth" aria-expanded="true" aria-controls="collapseFifth">
                    <div class="card-name">
                      <img src="./../asset/sma-page/Vector-1.png" alt="" srcset="">
                    <button class="btn btn-link justify-content-start" type="button" data-toggle="collapse" data-target="#collapseFifth" aria-expanded="true" aria-controls="collapseFifth">
                      OTHERS
                    </button>
                    </div>
                    <img class="btn-toggle" src="./../asset/sma-page/toggle.png" alt="" srcset="">
                  </h2>
                </div>
            
                <div id="collapseFifth" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="accordion-item">
                      <p>Natural Science</p>
                    </div>
                    <div class="accordion-item">
                      <p>Mathematic</p>
                    </div>
                    <div class="accordion-item">
                      <p>English Language</p>
                    </div>
                    <div class="accordion-item">
                      <p>Indonesian Languange</p>
                    </div>
                    <div class="accordion-item">
                      <p>Social Science</p>
                    </div>
                    <div class="accordion-item">
                      <p>Vernacular</p>
                    </div>
                    <div class="accordion-item">
                      <p>Civilization</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9 d-flex">
            <div class="row no-gutters">
              <div class="col-md-4  d-flex justify-content-center">
                <div class="box-recommended">
                  <div class="recommended-thumb">
                    <img class="w-100" src="./../asset/sma-page/fotosintetis.png" alt="" srcset="">
                  </div>
                  <div class="thumb-text">
                    <h5>Proses Fotosintesis pada Tanaman</h5>
                    <a href="#">SCIENCE</a>
                  </div>
                  <div class="box-text mt-2 p-3">
                    <p>Our planet’s hot, gooey center may be the result of a collision between.</p>
                  </div>
                  <div class="box-footer">
                    <div class="box-footer-teach d-flex mt-3">
                     <div class="box-footer-img ml-3">
                       <img class="w-0" src="./../asset/dashboard/tutor.png" alt="" srcset="">
                     </div>
                     <div class="box-footer-name d-flex justify-content-center ml-2">
                       <h6 class="p-0 m-0">Taylor Swift</h6>
                     <p class="p-0 m-0">Tutor</p>
                     </div>
                     
                    </div>
                    <div class="box-footer-btn mx-auto mt-3">
                      <a href="#" class="btn text-white">Take Course</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center">
                <div class="box-recommended">
                  <div class="recommended-thumb">
                    <img class="w-100" src="./../asset/sma-page/anatomi.png" alt="" srcset="">
                  </div>
                  <div class="thumb-text">
                    <h5>Struktur Anatomi Pada Ikan</h5>
                    <a href="#">SCIENCE</a>
                  </div>
                  <div class="box-text mt-2 p-3">
                    <p>Our planet’s hot, gooey center may be the result of a collision between.</p>
                  </div>
                  <div class="box-footer">
                    <div class="box-footer-teach d-flex mt-3">
                     <div class="box-footer-img ml-3">
                       <img class="w-0" src="./../asset/dashboard/tutor.png" alt="" srcset="">
                     </div>
                     <div class="box-footer-name d-flex justify-content-center ml-2">
                       <h6 class="p-0 m-0">Taylor Swift</h6>
                     <p class="p-0 m-0">Tutor</p>
                     </div>
                     
                    </div>
                    <div class="box-footer-btn mx-auto mt-3">
                      <a href="#" class="btn text-white">Take Course</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center">
                <div class="box-recommended">
                  <div class="recommended-thumb">
                    <img class="w-100" src="./../asset/sma-page/analogi.png" alt="" srcset="">
                  </div>
                  <div class="thumb-text">
                    <h5>Analisis Anatomi Fisiologi Tumbuhan</h5>
                    <a href="#">SCIENCE</a>
                  </div>
                  <div class="box-text mt-2 p-3">
                    <p>Our planet’s hot, gooey center may be the result of a collision between.</p>
                  </div>
                  <div class="box-footer">
                    <div class="box-footer-teach d-flex mt-3">
                     <div class="box-footer-img ml-3">
                       <img class="w-0" src="./../asset/dashboard/tutor.png" alt="" srcset="">
                     </div>
                     <div class="box-footer-name d-flex justify-content-center ml-2">
                       <h6 class="p-0 m-0">Taylor Swift</h6>
                     <p class="p-0 m-0">Tutor</p>
                     </div>
                     
                    </div>
                    <div class="box-footer-btn mx-auto mt-3">
                      <a href="#" class="btn text-white">Take Course</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row no-gutters mt-5">
              <div class="col-md-4 d-flex justify-content-center">
                <div class="box-recommended">
                  <div class="recommended-thumb">
                    <img class="w-100" src="./../asset/sma-page/anatomi.png" alt="" srcset="">
                  </div>
                  <div class="thumb-text">
                    <h5>Struktur Anatomi Pada Ikan</h5>
                    <a href="#">SCIENCE</a>
                  </div>
                  <div class="box-text mt-2 p-3">
                    <p>Our planet’s hot, gooey center may be the result of a collision between.</p>
                  </div>
                  <div class="box-footer">
                    <div class="box-footer-teach d-flex mt-3">
                     <div class="box-footer-img ml-3">
                       <img class="w-0" src="./../asset/dashboard/tutor.png" alt="" srcset="">
                     </div>
                     <div class="box-footer-name d-flex justify-content-center ml-2">
                       <h6 class="p-0 m-0">Taylor Swift</h6>
                     <p class="p-0 m-0">Tutor</p>
                     </div>
                     
                    </div>
                    <div class="box-footer-btn mx-auto mt-3">
                      <a href="#" class="btn text-white">Take Course</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center">
                <div class="box-recommended">
                  <div class="recommended-thumb">
                    <img class="w-100" src="./../asset/sma-page/analogi.png" alt="" srcset="">
                  </div>
                  <div class="thumb-text">
                    <h5>Analisis Anatomi Fisiologi Tumbuhan</h5>
                    <a href="#">SCIENCE</a>
                  </div>
                  <div class="box-text mt-2 p-3">
                    <p>Our planet’s hot, gooey center may be the result of a collision between.</p>
                  </div>
                  <div class="box-footer">
                    <div class="box-footer-teach d-flex mt-3">
                     <div class="box-footer-img ml-3">
                       <img class="w-0" src="./../asset/dashboard/tutor.png" alt="" srcset="">
                     </div>
                     <div class="box-footer-name d-flex justify-content-center ml-2">
                       <h6 class="p-0 m-0">Taylor Swift</h6>
                     <p class="p-0 m-0">Tutor</p>
                     </div>
                     
                    </div>
                    <div class="box-footer-btn mx-auto mt-3">
                      <a href="#" class="btn text-white">Take Course</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center">
                <div class="box-recommended">
                  <div class="recommended-thumb">
                    <img class="w-100" src="./../asset/sma-page/fotosintetis.png" alt="" srcset="">
                  </div>
                  <div class="thumb-text">
                    <h5>Proses Fotosintesis pada Tanaman</h5>
                    <a href="#">SCIENCE</a>
                  </div>
                  <div class="box-text mt-2 p-3">
                    <p>Our planet’s hot, gooey center may be the result of a collision between.</p>
                  </div>
                  <div class="box-footer">
                    <div class="box-footer-teach d-flex mt-3">
                     <div class="box-footer-img ml-3">
                       <img class="w-0" src="./../asset/dashboard/tutor.png" alt="" srcset="">
                     </div>
                     <div class="box-footer-name d-flex justify-content-center ml-2">
                       <h6 class="p-0 m-0">Taylor Swift</h6>
                     <p class="p-0 m-0">Tutor</p>
                     </div>
                     
                    </div>
                    <div class="box-footer-btn mx-auto mt-3">
                      <a href="#" class="btn text-white">Take Course</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
      <!-- End Recommended Section -->

      <!-- ======= Latest Course Section ======= -->
      <!-- End Latest Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top text-dark">
        <div class="row m-5">
          <div class="col-lg-3 col-md-6 footer-info text-dark">
            <img
              src="./asset/landing-page/logo-footer.png"
              alt=""
              srcset=""
              class="mb-4"
            />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus
              vitae facilisi consequat donec turpis aliquam at. Egestas arcu ut.
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter">
                <img src="./asset/landing-page/youtube.png" alt="" srcset="" />
              </a>
              <a href="#" class="facebook">
                <img src="./asset/landing-page/fb.png" alt="" srcset="" />
              </a>
              <a href="#" class="instagram">
                <img src="./asset/landing-page/twitter.png" alt="" srcset="" />
              </a>
              <a href="#" class="google-plus">
                <img src="./asset/landing-page/ig.png" alt="" srcset="" />
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>About</h4>
            <p>About Us</p>
            <p>Course</p>
            <p>Rules and Terms</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Services</h4>
            <p>Help Center</p>
            <p>Terms and Policy</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>For users</h4>
            <p>Login</p>
            <p>Register</p>
            <p>Account Setting</p>
          </div>
        </div>
      </div>

      <div
        class="container-copyright ml-5 mr-5 d-flex justify-content-between align-items-center"
      >
        <div class="copyright">&copy; 2020 My Buddy School.</div>
        <div class="credits">
          <a class="text-white" href="#">Privacy & Cookies</a>
          <a class="text-white" href="#">Accessibility</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="./../code/vendor/jquery/jquery.min.js"></script>
    <script src="./../code/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./../code/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="./../code/vendor/php-email-form/validate.js"></script>
    <script src="./../code/vendor/jquery-sticky/jquery.sticky.js"></script>
    <script src="./../code/vendor/venobox/venobox.min.js"></script>
    <script src="./../code/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="./../code/vendor/counterup/counterup.min.js"></script>
    <script src="./../code/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="./../code/vendor/aos/aos.js"></script>
    <script src="./../code/js/owl.carousel.min.js"></script>

    <!-- Template Main JS File -->
    <script src="./../code/js/main.js"></script>
    <script>
       const toggleFirst = document.querySelector('.first .btn-toggle');
       const btnFirst = document.querySelector('.first');

       const toggleSecond = document.querySelector('.second .btn-toggle');
       const btnSecond = document.querySelector('.second');

       const toggleThird = document.querySelector('.third .btn-toggle');
       const btnThird = document.querySelector('.third');

       const toggleFourth = document.querySelector('.fourth .btn-toggle');
       const btnFourth = document.querySelector('.fourth');

       const toggleFifth = document.querySelector('.fifth .btn-toggle');
       const btnFifth = document.querySelector('.fifth');

      btnFirst.addEventListener('click', function(){
        toggleFirst.classList.toggle('toggle');
      })

      btnSecond.addEventListener('click', function(){
        toggleSecond.classList.toggle('toggle');
      })

      btnThird.addEventListener('click', function(){
        toggleThird.classList.toggle('toggle');
      })

      btnFourth.addEventListener('click', function(){
        toggleFourth.classList.toggle('toggle');
      })

      btnFifth.addEventListener('click', function(){
        toggleFifth.classList.toggle('toggle');
      })
    </script>
  </body>
</html>
