@import url("./../responsive/smaresp.css");

body {
  color: #444;
  overflow-x: hidden !important;
}

a {
  color: #428bca;
}

a:hover {
  color: #9eccf4;
  text-decoration: none;
}

@font-face {
  font-family: "Museo Sans Rounded 300";
  font-style: normal;
  font-weight: normal;
  src: local("Museo Sans Rounded 300"),
    url("./../../fonts/MuseoSansRounded300.woff") format("woff");
}

/*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  right: 15px;
  bottom: 15px;
  background: #428bca;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #629fd3;
  transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/
#topbar {
  background: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

#topbar .button a {
  font-family: "Museo Sans Rounded 300";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #070707 !important;
}

#topbar .contact-info {
  font-family: "Museo Sans Rounded 300";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

#topbar .input-group {
  width: 626px;
  height: 40px;
}

.sb-example-3 .search__input {
  background-image: url(./../../asset/landing-page/search.png);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 10px;
  font-size: 14px;
  line-height: 18px;
  width: 626px;
  height: 40px;
  padding: 12px 24px;
  border: 1px solid rgba(150, 150, 150, 0.21) !important;
}

.search__input:focus .search_container {
  border: 1px solid transparent !important;
}

.search__input:focus {
  border: 1px solid #00a2e9;
}

#topbar .button a:last-child:hover {
  background: #00a2e9;
  color: #fff;
}

#topbar .social-links a {
  color: #5c768d;
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

#topbar .social-links a:hover {
  color: #428bca;
}

#topbar .button i:after {
  content: "9";
  position: absolute;
  background: #ff8a00;
  height: 15px;
  top: 2rem;
  right: 15.5em;
  width: 15px;
  text-align: center;
  line-height: 1rem;
  font-size: 11px;
  border-radius: 50%;
  color: white;
}

@media (max-width: 992px) {
  i.icofont-navigation-menu:after,
  i.icofont-close:after {
    display: none !important;
  }
}

.dropdown::after {
  top: 2em;
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-left: 2px solid #00a2e9;
  border-top: 2px solid #00a2e9;
  left: 5em;
  transform: rotate(-135deg);
}

.dropdown-menu.show {
  transform: translate(-6em, 5em) !important;
}

.dropdown-menu.show .dropdown-item:last-child {
  color: #ff0000 !important;
  font-weight: bold;
}

.dropdown-menu.show .dropdown-item:last-child:hover {
  background-color: #f8f9fa !important;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  transition: all 0.5s;
  padding: 10px 0;
  background: #fff;
  z-index: 997;
}

#header.header-scrolled {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 10px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #1c5c93;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #5c768d;
  padding: 12px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #428bca;
  text-decoration: none;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

input.search__input.mobile {
  width: 16em !important;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #103453;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active > a,
.nav-menu .drop-down ul li:hover > a {
  color: #428bca;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */

@media (max-width: 992px) {
  .button.d-flex {
    flex-direction: column;
  }

  .button.d-flex > a {
    font-family: "Museo Sans Rounded 300";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #fff !important;
  }

  .button.d-flex i:after {
    content: "9";
    position: absolute;
    background: #ff8a00;
    height: 20px;
    top: 0.3rem;
    right: 14em;
    width: 20px;
    text-align: center;
    line-height: 1rem;
    font-size: 14px;
    border-radius: 50%;
    color: white;
  }

  .button.d-flex .dropdown-menu.show {
    transform: translate(5em, -3em) !important;
  }

  .button.d-flex .dropdown-menu.show .dropdown-item:nth-child(1) {
    color: #000 !important;
  }

  .button.d-flex .dropdown-menu.show .dropdown-item:nth-child(2) {
    color: #000 !important;
  }

  .button.d-flex .dropdown-menu.show .dropdown-item:nth-child(3) {
    color: #000 !important;
  }
}

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: #1f3548;
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #e3f0fc;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #9eccf4;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa0";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 20px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #5c768d;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(31, 53, 72, 0.7);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
.hero-sma {
  height: 184px;
  background-position: center;
  background-image: url(./../../asset/sma-page/hero-sma.png);
  background-size: auto;
}

.hero-sma .hero-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 62%;
  margin-left: 4em;
}

.hero-sma .hero-container h3 {
  font-family: "Nunito Sans", sans-serif;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: #ffffff;
}

.hero-sma .hero-container p {
  font-family: "Nunito Sans", sans-serif;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
}
/*--------------------------------------------------------------
  # Breadcrumb
  --------------------------------------------------------------*/
.main-breadcrumb {
  height: 72px;
  background-color: #eff6fb;
  padding-left: 1em;
}

.breadcrumb {
  background-color: #eff6fb;
  margin: 0 !important;
  padding: 1.3em !important;
}

.breadcrumb .breadcrumb-item {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #c4c4c4 !important;
}

.breadcrumb-item a {
  color: #c4c4c4 !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">" !important;
}

.breadcrumb .breadcrumb-item.active {
  color: #00a2e9 !important;
}
/*--------------------------------------------------------------
  # My Course
  --------------------------------------------------------------*/
.content {
  background-color: #eff6fb;
  height: 987px;
}

.content .col-md-3 {
  padding-left: 3em;
}

.card-body {
  padding: 0 !important;
}

.content .accordion .card .card-header h2 .card-name .btn {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #5c5c5c;
}

.accordion > .card > .card-header {
  background-color: #fff;
}

.accordion-item {
  transition: all 0.3s;
  padding: 2em 2em 1em 2em !important;
}

.accordion-item:hover {
  border-left: 1em solid #00a2e9;
  background: #f4f4f4 !important;
}

.accordion-item p {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: #5c5c5c;
}

.btn-toggle {
  transition: all 0.3s !important;
}

.accordion-item:hover {
  background: #f4f4f4 !important;
}

.toggle {
  transform: rotate(178deg) !important;
  transition: all 0.3s !important;
}
/*--------------------------------------------------------------
  # Recommended
  --------------------------------------------------------------*/
.recommended {
  padding: 28px;
  background-color: #eff6fb;
}

.recommended .row.heading h3 {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: #00a2e9;
}

.recommended .row.heading a {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #447b93;
}

.content-recommended {
  height: 500px !important;
}

.box-recommended {
  width: 302px;
  height: 465px;
  background: #fff;
}

.recommended-thumb {
  position: relative;
}

.thumb-text {
  position: absolute;
  top: 7em;
  padding: 1em;
}

.thumb-text h5 {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: #fff !important;
}

.thumb-text a {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #00a2e9 !important;
}

.box-recommended .box-text p {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: #5c5c5c;
}

.box-footer {
  border-top: 1px solid #e4e4e4 !important;
}

.box-footer-img {
  width: 50px !important;
  height: 50px !important;
}

.box-footer-img img {
  width: 100% !important;
  height: 100% !important;
}

.box-footer-name {
  flex-direction: column !important;
}

.box-footer-name h6 {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #5c5c5c;
}

.box-footer-name p {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #969696;
}

.box-footer-btn {
  width: 282px;
  height: 40px;
  background-image: linear-gradient(to right, #00a2e9, #5fc2ed);
  border-radius: 5px;
}

.content .row .col-md-9 {
  align-items: inherit;
  flex-direction: column !important;
  margin-left: 1;
}
/*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/

.latest {
  padding: 28px;
  background-color: #eff6fb;
}

.latest .row.heading h3 {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: #00a2e9;
}

.latest .row.heading a {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #447b93;
}

.content-latest {
  height: 556px !important;
}

.box-latest {
  width: 628px;
  height: 391px;
  background: #fff;
}

.latest-thumb {
  position: relative;
}

.box-latest .thumb-text {
  position: absolute;
  top: 119em;
  padding: 1em;
}

.box-latest .thumb-text h5 {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #fff !important;
}

.box-latest .thumb-text a {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #00a2e9 !important;
}

.box-latest .box-text p {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: #5c5c5c;
}

.box-footer {
  border-top: 1px solid #e4e4e4 !important;
}

.box-footer-img {
  width: 50px !important;
  height: 50px !important;
}

.box-footer-img img {
  width: 100% !important;
  height: 100% !important;
}

.box-footer-name {
  flex-direction: column !important;
}

.box-footer-name h6 {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #5c5c5c;
}

.box-footer-name p {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #969696;
}

.box-footer-btn {
  width: 282px;
  height: 40px;
  background-image: linear-gradient(to right, #00a2e9, #5fc2ed);
  border-radius: 5px;
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

#footer {
  background: #587187;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  background: #dfe8f0;
  padding: 60px 0 30px 0;
  color: #5c5c5c !important;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #5c5c5c !important;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #5c5c5c !important;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #9eccf4;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #5c5c5c !important;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #9eccf4;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #428bca;
  color: #fff;
  transition: 0.3s;
  border-radius: 4;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: #5295ce;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 2.1em;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #9eccf4;
}
